* { user-select: none;}
.container.first  {
    height: calc(56.25vw - 9rem);
    padding: 2rem 0;
}
.images-box {
    margin: 0px 20%;
}
.blocsapp-device-iphone6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 100%;
    height: auto;
    padding: 18%;
}
.blocsapp-device-iphone6.iphone6-space-grey {
    background-image: url(../images/Apple-iPhone.png);
}
.blocsapp-device-iphone6 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.bg-3 {
    background: url(../images/bg-3.png) no-repeat center/contain;
}
.text-center span {
    border: 3px solid #000;
    border-radius: 50%;
    max-width: 100px;
}
.shake {
    animation: shake 4s linear infinite alternate;
}
.one {
    animation-delay: 0s;
}
.two {
    animation-delay: 1s;
}
.three {
    animation-delay: 2s;
}
.four {
    animation-delay: 3s;
}
@media (max-width: 991px) {
    .container.first  {
        height: auto;
    }
    .text-right,
    .text-left {
        text-align: center !important;
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(15deg);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(0deg);
    }
}


/* Game_console */
.bg-50-black {
    background-color: rgba(0,0,0,.5);
}
.warp {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../images/GameMachine_BG2.jpg) no-repeat center/cover;
    overflow: hidden;
}
.warp_money {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../images/GameMachine_coin.png) no-repeat top/contain;
    animation: opacity 1.6s infinite alternate ease;
    pointer-events: none;
    z-index: 2;
}
.test {
    position: relative;
    top: 35%;
    width: 35%;
}
.pic {
    position: relative;
    width: 100%;
    padding-bottom: 177.5%;
    border-radius: 30px;
}
.pic_machine {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/GameMachine\ 800x1420.png) no-repeat center/contain;
    z-index: 1;
}
.game {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 45.5% 15%;
    perspective-origin: center center;
    -moz-perspective-origin: center center;
    -webkit-perspective-origin: center center;
    perspective: 170px;
    -moz-perspective: 170px;
    -webkit-perspective: 170px;
    z-index: 1;
}
[class^=carousel-control] {
    background-color: #000;
    animation: Flashing 3s infinite ease;
}
.carousel-control-next {
    animation-delay: 1s;
}
.carousel-control-play {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -170%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80% !important;
    color: #fff;
    font-size: 32px;
    text-align: center;
    -webkit-transition: opacity .15s ease;
    transition: opacity .15s ease;
    box-shadow: 0px 1px 3px #fff inset, 0px -3px #000 inset;
    animation-delay: 2s;
}
.carousel-control-play:hover {
    background-color: rgba(0,0,0,.6);
    color: #fff;
    box-shadow: 0px -1px 3px #fff inset, 0px 3px #000 inset;
    text-decoration: none;
}
.btn_group_a {
    position: relative;
    top: -28%;
    left: 5%;
    width: 35%;
    height: 15%;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 1;
}
.btn_group_a a {
    width: 45%;
    transform: translateX(50px) translateY(50px) rotateY(60deg);
    -moz-transform: translateX(50px) translateY(50px) rotateY(60deg);
    -webkit-transform: rotateX(15deg);
    z-index: 1;
}
@media (max-width: 1280px) {
    .carousel-control-play {
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
    .test {
        top: 5%;
        width: 70%;
    }
}
@media (max-width: 500px) {
    .test {
        top: 5%;
        width: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Flashing {
    0% {
        opacity: .5;
    }
    16% {
        opacity: .8;
    }
    33%,100% {
        opacity: .5;
    }
}