* { user-select: none;}
.container.first  {
    height: calc(56.25vw - 9rem);
    padding: 2rem 0;
}
.images-box {
    margin: 0 20%;
}
.blocsapp-device-iphone6 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 100%;
    height: auto;
    padding: 18%;
}
.blocsapp-device-iphone6.iphone6-space-grey {
    background-image: url(../images/Apple-iPhone.png);
}
.blocsapp-device-iphone6 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.bg-3 {
    background: url(../images/bg-3.png) no-repeat center/contain;
}
.text-center span {
    border: 3px solid #000;
    border-radius: 50%;
    max-width: 100px;
}
@media (max-width: 991px) {
    .container.first  {
        height: auto;
    }
    .text-right,
    .text-left {
        text-align: center !important;
    }
}
